<h2> Brain 🧠 </h2>
<p><em> A backup of my brain. </em><p>
<h3>Notes</h3>
<ul>
{%- for note in collections.note %}
<li><a href="{{note.url}}">{{note.data.title}} [{{note.data.tags | filterTagList}}]</a></li>
{%- endfor %}
</ul>