<h2>Hey, I'm Gautham 👋</h2>
<p>Welcome to my digital home :)<br>
I am an engineering student ‍ from  Kerala, India. I love building things on the web 💻, reading 📚, writing ✍, and traveling 🎒. This is my personal nook in the web where I document my efforts to find myself. Here you can find some of my thoughts, learnings and works.<br>
<h3> Go to </h3>
<ol><li><a href="/writings"> Writings </a></li>
<li><a href="/brain"> Brain </a></li>
<li><a href="/works">Works </a></li></ol>








