<h2> Works 💻 </h2>
<p><em> "Make it work, make it right, make it fast."</em></p>
<p> I love building things on the web. The process of converting an idea into a product is something I really have fun doing. I mostly work with javascript and a number of its frameworks. Here you can find some of my projects.</p>
<ul>
<li><div class="project-header"><h3>Yelp Camp</h3>
<span class="project-icons">
<a href="https://github.com/lordinkavu/Yelpcamp-" target="_blank"><img src="/public/icons/github.svg"></a>
<a href="https://yelpcampv20.herokuapp.com/" target="_blank"><img src="/public/icons/link.svg"></a>
</span>
</div>
<p>Web application with CRUD functionality, user authentication and cloud data storage functionalities. Built using <em>NodeJS, Express, MongoDB and Bootstrap.</em></p></li>

<li><div class="project-header"><h3>Youtube comment remover</h3>
<span class="project-icons">
<a href="https://github.com/lordinkavu/youtube-comment-remover" target="_blank"><img src="/public/icons/github.svg"></a>

</span>
</div>
<p>We all know how we start with a youtube video lecture and some time later find ourselves immersed in a random comment thread. I found that removing the comment section entirely helped me lot, thus this extension.</p></li>

<li>
<div class="project-header">
<h3>Portfolio website</h3>
    <span class="project-icons">
    <a href="https://github.com/lordinkavu/Gautham-Portfolio" target="_blank"><img src="/public/icons/github.svg"></a>
<a href="https://gauthamshankar.com/" target="_blank"><img src="/public/icons/link.svg"></a>
</span>
</div>
<p>The first iteration of my portfolio website. Built using <em>GatsbyJS</em></p>
</li>


</ul>
