<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <link rel="stylesheet" href="/public/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Inter&display=swap" rel="stylesheet">
  <title>Myself, Ingaavu.</title> 
</head> 
<body> 
<header>
  <nav> 
    <div >
    <a href="/" >Home</a>
    <span>/</span>
    <a href="/writings">Writings</a>
    <span>/</span>
    <a href="/brain">Brain</a>
    <span>/</span>
    <a href="/works">Works</a>
    </div>
    <div class="icons">
    <a href="https://github.com/lordinkavu/" target="_blank"><img src = "/public/icons/github.svg" alt="github"/></a>
    <a href="https://www.linkedin.com/in/gauthamskv/"  target="_blank"><img src = "/public/icons/linkedin.svg" alt="linkedin"/> </a>
    <a href="https://github.com/lordinkavu/resume/blob/main/gautham-resume.pdf"  target="_blank"><img src = "/public/icons/file-text.svg" alt="resume"/></a>
  </div>
  
  </nav>
 <h1>Myself, <span id="ingaavu">Ingaavu.</span></h1>
  
  </header>
  

  <main> 
    {{ content | safe }}
  </main> 
  <footer> 
  <div>© Gautham Shankar </div>
  <div class="icons">
    <a href="https://github.com/lordinkavu/" target="_blank"><img src = "/public/icons/github.svg" alt="github"/></a>
    <a href="https://www.linkedin.com/in/gauthamskv/"  target="_blank"><img src = "/public/icons/linkedin.svg" alt="linkedin"/> </a>
    <a href="https://github.com/lordinkavu/resume/blob/main/gautham-resume.pdf"  target="_blank"><img src = "/public/icons/file-text.svg" alt="resume"/></a>
  </div>
  </footer>
   
</body> 
</html>
