<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <link rel="stylesheet" href="/public/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet"> 

<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <title>Myself, Ingaavu.</title> 
</head> 
<body> 
<header>
  <nav> 
    <a href="/" >Home</a>
    <span>/</span>
    <a href="/writings">Blog</a>
    <span>/</span>
    <a href="/notes">Notes</a>
    <span>/</span>
    <a href="/works">Works</a>
  </nav>
 
  <div id="icons">
    <img src = "/public/icons/github.svg" alt="github"/>
    <img src = "/public/icons/linkedin.svg" alt="linkedin"/> 
    <img src = "/public/icons/file-text.svg" alt="resume"/>
  </div>
  </header>
  <h1>Myself, <span id="ingaavu">Ingaavu.</span></h1>

  <main> 
    {{ content | safe }}
  </main> 
   
</body> 
</html>
