:root {
    --bg-color-light: white;
    --bg-color-dark: black;
    --font-color-light: black;
    --font-color-dark: white;
    --accent-color: rgb(226 78 66 / 80%);
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'EB Garamond', serif;
    text-size-adjust: none;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-light);
    color: var( --font-color-light);
    font-family: var( --font-family-primary);
    
    line-height: 1.6rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    padding: 0.625rem 1.5625rem;
}

header {
    font-family: var( --font-family-secondary);
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

#icons {
    display: flex;
}

#icons img {
    margin: 0.3125rem 0.625rem;
}

nav {
    width: -moz-fit-content;
    width: fit-content;
}

nav>span {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
}

a {
    text-decoration-color: rgba(165, 42, 42, 0.5);
    color: var( --font-color-light);
    text-underline-offset: 0.1875rem;
    

}




h1, h2, h3 {
    font-family: var( --font-family-secondary);
    width: -moz-fit-content;
    width: fit-content;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    box-shadow: 0px 8px 0px var(--accent-color);
    margin-top: 1.5625rem;
    margin-bottom: 3.125rem;
    padding: 0.3125rem;
}

h1 #ingaavu {
    font-style: italic;
    font-weight: 400;
}
main{
    max-width: 650px;
  
}


@media screen and (max-width: 600px) {
    #icons {
        display: none;
    }
}